<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Folium</title>
</head>
<body>
    <h1>Folium on Flask</h1>
    <iframe src="/map" width="1500" height="1500"></iframe>
    <!-- <h1>test</h1> -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d991.4264203465426!2d106.6522698!3d-6.3023484!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1567394130773!5m2!1sen!2sid" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d991.4264203465426!2d106.6522698!3d-6.3023484!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1567394130773!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
</body>
</html>